body {
  background: #f8f9fa;

  h1,
  h4 {
    color: #343a40;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  min-width: 400px;
  max-width: 800px;
}
